<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Log in with your account</title>
</head>

<body>
<div>
  <table>
    <thead>
    <th>ID</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Roles</th>
    </thead>
    <th:forEach items="${allUsers}" var="user">
      <tr>
          <td>
              <tr th:each="user: ${allUsers}">
                <td th:text="${user.id}" />
                <td th:text="${user.username}" />
                <td th:text="${user.password}" />
                <th th:text="${user.roles}"  />
              </tr>

        </td>

      </tr>
    </th:forEach>
  </table>
  <a href="/">Главная</a>
</div>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>

</html>