<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div>
    <form th:action="@{/registration}" method="POST" modelAttribute="userForm">
        <h2>Регистрация</h2>
        <div>
            <input type="text" th:field="*{userForm.username}" placeholder="Username"
                        autofocus="true"/>
            <span  class="error" th:if="${usernameError}"th:text="${usernameError}"> Invalid Username</span>
            <span  class="error" th:if="${usernameErrorValidate}"th:text="${usernameErrorValidate}">Invalid Username2</span>
            <span  class="error" th:if="${passwordErrorValidate}"th:text="${passwordErrorValidate}">Invalid Username3</span>
        </div>
        <div>
            <input type="password" th:field="*{userForm.password}" placeholder="Password"></input>
        </div>
        <div>
            <input type="password" th:field="*{userForm.passwordConfirm}"
                        placeholder="Confirm your password">
            <span class="error" th:if="${passwordError}" th:text="${passwordError}">Invalid Password</span>
        </div>


        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="/">Главная</a>
</div>
</body>
</html>